* {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    
}

h1 h2 {
    color: black;
}

button {
    color: black;
    position: fixed;
    display: block;
    margin-top: 8rem;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 5px;
    padding: 3px;
}

.score {
    position: absolute;
    display: block;
    background-color: white;
    border-radius: 5px;
    padding: 5px 5px;
    margin-top: 3rem;
    margin-left: 3%;
    box-shadow: 0 2px 8px 0 rgb(233, 227, 227);

}

button.myBtn{
    margin-top: 4px;
    background-color: black;
}

.down {
    -webkit-transition: margin-top 0.3s ease, box-shadow 0.3s ease;
    -moz-transition: margin-top 0.3s ease, box-shadow 0.3s ease;
    transition: margin-top 0.3s ease, box-shadow 0.3s ease;

    /* background: #cfe2f3; */
    border: solid 1px #cfe2f3;

    -webkit-box-shadow: 0px 2px 0px #cfe2f3;
    -moz-box-shadow: 0px 2px 0px #cfe2f3;
    box-shadow: 0px 2px 0px #cfe2f3;
}

.down:active {
    -webkit-transition: margin-top 0.2s ease, box-shadow 0.2s ease;
    -moz-transition: margin-top 0.2s ease, box-shadow 0.2s ease;
    transition: margin-top 0.2s ease, box-shadow 0.2s ease;


    -webkit-box-shadow: 0px 0px 0px #cfe2f3;
    -moz-box-shadow: 0px 0px 0px #cfe2f3;
    box-shadow: 0px 0px 0px #cfe2f3;
}
 
header{
    margin: 5px;
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}